<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="push">
    <mat-list>
      <div mat-subheader>Folders</div>
      <mat-list-item *ngFor="let group of navGroup">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{group.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Notes</div>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>{{note.name}}</div>
        <div mat-line> {{note.updated | date}} </div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <h1>SFM</h1>
    </mat-toolbar>
    <button (click)="drawer.toggle()">Toggle</button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>